body {
    background-color: bisque;
}

h1 {
    font-weight: normal;
    color: #e42cea;
    margin: 0px;
}

h2 {
    font-weight: normal;
    color: rgb(30, 30, 161);
    margin: 0px;
}

a {
    font-weight: bold;
    color: indigo;
    margin: 0px;
}

h3 {
    font-style: italic;
    font-weight: normal;
    color: mediumblue;
}

h1 {
    font-family: Georgia, Times, serif;
    font-size: 250%;
    text-shadow: 2px 3px 4px #7e6262;
    padding-bottom: 20px;
}

h3 {
    font-family: "Gill Sans", Arial, sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h2 {
    font-size: 200%;
    font-style: italic;
}

p {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.2em;
    color: rgb(50, 50, 88);
}

h3.intro:first-line {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}